---
layout: default
---

{% for post in paginator.posts %}
<style>
  .main
  {
    font-weight: bold;
  }

  .main_li
  {
    font-size: 16px;
  }

  .title
  {
    font-size: 25px;
    margin-bottom: 4px;
  }
</style>

<article class="main-article">
  <div class="wrap-content" id="home">
    <header class="header-article">
      <h2 class="title-article"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <div class="post-date" style="font-weight: bold;"><span>S.H STUDIO</span></div>
    </header>
    {% if post.img %}
       <img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
    <div class="main" id="project_info">
      <ul>
      <p class="title">#Project Info</p>
      <ul> 
        <li class="main_li">프로젝트명 : Cake Rush</li>
        <li class="main_li">프로젝트 주제 : RTS (유닛, 건설 요소) + AOS (스킬, 플레이어 캐릭터, 몬스터, 포탑, 넥서스, 레벨링 시스템)</li>
        <li class="main_li">플랫폼 : PC</li>
        <li class="main_li">사용 기술 : Unity(2021.3.0f1), 서버(포톤)</li>
      </ul>
      </ul>
    </div>

    <div class="main" id="team_info">
      <ul>
        <p class="title">#Team Info</p>
        <div class="form-item">
        <p style="font-size: 16px;">최원준 [팀장]</p>
        <ul>
          <li class="main_li"">기획</li>
          <li class="main_li">멀티 플레이 구현</li>
          <li class="main_li">필드 위 몬스터 AI 구현 및 애니메이션</li>
          <li class="main_li">UI 시스템</li>
        </ul>
        </div>
      
        <div class="form-item">
        <p style="font-size: 16px;">김지관 [팀원]</p>
        <ul>
          <li class="main_li">밸런싱</li>
          <li class="main_li">문서 작업</li>
          <li class="main_li">맵 개편</li>
        </ul>
        </div>
      
        <div class="form-item">
        <p style="font-size: 16px;">김환희 [팀원]</p>
        <ul>
          <li class="main_li">밸런싱</li>
          <li class="main_li">유닛 AI 구현 및 애니메이션</li>
          <li class="main_li">건설 시스템 구현</li>
        </ul>
        </div>
      
        <div class="form-item">
        <p style="font-size: 16px;">한용균 [팀원]</p>
        <ul>
          <li class="main_li">밸런싱</li>
          <li class="main_li">플레이어 AI 구현 및 애니메이션</li>
          <li class="main_li">플레이어 스킬 구현</li>
        </ul>
        </div>
        </ul>
      </div>
    
      <div class="main" id="details">
        <ul style="list-style: none;">
          <p class="title">#Details</p>
          <li>
            <div class="layout">
              <h3>Layout</h3>
            </div>
          </li>
        </ul>
      </div>
    
      <div class="main" id="link">
        <ul>
          <p class="title">#Link</p>
          <li class="main_li" style="list-style: none;"><a href="https://github.com/2422june/Cake_Rush">깃허브 링크</a></li>
          <li class="main_li" style="list-style: none;"><a href="https://github.com/2422june/Cake_Rush">결과물 링크</a></li>
        </ul>
      </div> 
    </div>
    </div>
  </div>
</div>
</article>
{% endfor %}
