---
layout: default
---

{% for post in paginator.posts %}
<article class="main-article">
  <div class="wrap-content">
    <header class="header-article">
      <h2 class="title-article"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <div class="post-date" style="font-weight: bold;"><span>S.H STUDIO</span></div>
    </header>
    {% if post.img %}
       <img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
    <div class="main" style="font-weight: bold;">
      <h3>#Project Info</h3>
      <ul style="list-style: none;">
        <li>프로젝트명 : Cake Rush</li>
        <li>프로젝트 주제 : RTS (유닛, 건설 요소) + AOS (스킬, 플레이어 캐릭터, 몬스터, 포탑, 넥서스, 레벨링 시스템)</li>
        <li>플랫폼 : PC</li>
        <li>사용 기술 : Unity(2021.3.0f1), 서버(포톤)</li>
      </ul>
    </div>
  </div>
</article>
{% endfor %}
