---
layout: default
---

{% for post in paginator.posts %}
<article class="main-article">
  <div class="wrap-content">
    <header class="header-article">
      <h2 class="title-article"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <div class="post-date"><span style="font-weight: bold;">S.H Studio</span></div>
    </header>
    {% if post.img %}
       <img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
    {% endif %}
    <p>{% include 2018-01-26-first-post.md %} <a class="more" href="{{}}">(Read more...)</a></p>
  </div>
</article>
{% endfor %}
