<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Cake rush{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/project_info/">Project info</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/team_info/">Team info</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/detail/">Details</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/link/">Link</a></li>
    </menu>
  </div>
</aside>
